<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
  <div>Автошколы</div>
  <div>
    <a class="btn btn-success button-fixed"
       onsubmit="openModalEdit()" data-bs-target="#SchoolEditModal" data-bs-toggle="modal">
      <i class="fa-solid fa-plus"></i> Добавить
    </a>
    <!--        <a class="btn btn-info button-fixed" data-bs-toggle="modal" data-bs-target="#SchoolModal">-->
    <!--            Перейти к компании-->
    <!--        </a>-->
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Название</th>
        <th scope="col">Студенты</th>
        <th scope="col">Элементы управления</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="school, iterator: ${Schools}">
        <th scope="row" th:text="${iterator.index} + 1"/>
        <td th:text="${school.id}"/>
        <td style="width: 60%"><a th:href="@{/school/one/{id}(id=${school.id})}" th:text="${school.name}"></a></td>
        <td th:text="${#arrays.length(school.students.toArray())}" style="width: 60%"/>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-info button-fixed button-sm" th:data-school="${school.id}"
               data-bs-target="#SchoolEditModal" data-bs-toggle="modal"
               th:onclick="openModalEdit(this.getAttribute('data-school'))">Изменить</a>
            <button type="button" class="btn btn-danger button-fixed button-sm"
                    th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${school.id}').click()|">
              Удалить
            </button>
          </div>
          <form th:action="@{/school/delete/{id}(id=${school.id})}" method="post">
            <button th:id="'remove-' + ${school.id}" type="submit" style="display: none">
              Удалить
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div class="modal" id="SchoolModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Выбор автошколы</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/school/redirect" method="post">
            <div class="mb-3">
              <label class="form-label"  for="SchoolSelect">Автошкола</label>
              <select class="form-select"  id="SchoolSelect" name="SchoolId" required>
                <option selected disabled>Выберите автошколу</option>
                <option th:each="school, iterator: ${Schools}" th:value="${school.id}" th:text="${school.name}">
                </option>
              </select>
            </div>

            <button class="btn btn-primary" type="submit">Перейти</button>
            <a class="btn btn-secondary button-fixed" data-bs-dismiss="modal">
              Назад
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="SchoolEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form id="form-edit-school">
            <input type="hidden" id="SchoolId" name="id"/>
            <div class="mb-3">
              <label for="name" class="form-label">Название</label>
              <input type="text" class="form-control" id="name" required="true">
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
              </button>
              <a class="btn btn-secondary button-fixed" data-bs-dismiss="modal">
                Назад
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<th:block layout:fragment="scripts">
  <script th:inline="javascript">
    function openModalEdit(id) {
      var Schools = [[${Schools}]];
      var school = Schools.find(x => x.id + '' === id);
      if (school !== 'undefined') {
        $('#SchoolId').val(id);
        $('#name').val(school.name);
      }
    }

    $(document).on('submit', '#form-edit-school', function (e) {
      e.preventDefault();
      var SchoolName = document.getElementById('name');
      var idInput = document.getElementById('SchoolId');
      var urlSchool = 'http://localhost:8080/api/school';
      let school = {name: SchoolName.value};
      var method = 'POST';
      if (idInput.value !== '') {
        method = 'PUT';
        urlSchool = urlSchool + '/' + idInput.value;
      }
      $.ajax({
        url: urlSchool,
        method: method,
        data: JSON.stringify(school),
        contentType: "application/json;"
      })
              .done(function() {
                location.reload();
              })
              .fail((err) => {
                alert(err);
              });
    });
  </script>
</th:block>
</html>