<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
  <div>Студенты</div>
  <div>
    <a class="btn btn-success button-fixed"
       onsubmit="openModalEdit()" data-bs-target="#studentEditModal" data-bs-toggle="modal">
      <i class="fa-solid fa-plus"></i> Добавить
    </a>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Категории</th>
        <th scope="col">Элементы управления</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student, iterator: ${students}">
        <th scope="row" th:text="${iterator.index} + 1"/>
        <td th:text="${student.id}"/>
        <td th:text="${student.surname}" />
        <td th:text="${student.name}" />
        <td th:text="${student.phoneNumber}" />
        <td th:text="${#strings.listJoin(student.categories.![name],',')}"></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-info button-fixed button-sm" th:data-student="${student.id}"
               data-bs-target="#studentEditModal" data-bs-toggle="modal"
               th:onclick="openModalEdit(this.getAttribute('data-student'))">
              Изменить
            </a>
            <button type="button" class="btn btn-danger button-fixed button-sm"
                    th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${student.id}').click()|">
              Удалить
            </button>
          </div>
          <form th:action="@{/student/delete/{id}(id=${student.id})}" method="post">
            <button th:id="'remove-' + ${student.id}" type="submit" style="display: none">
              Удалить
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal" id="studentEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form id="form-edit-student">
            <input type="hidden" id="studentId" name="id"/>
            <div class="mb-3">
              <label for="surname" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="surname" required="true">
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Имя</label>
              <input type="text" class="form-control" id="name" required="true">
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Номер телефона</label>
              <input type="text" class="form-control" id="phoneNumber" required="true">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
              </button>
              <a class="btn btn-secondary button-fixed" data-bs-dismiss="modal">
                Назад
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<th:block layout:fragment="scripts">
  <script th:inline="javascript">
    function openModalEdit(id) {
      var students = [[${students}]];
      var student = students.find(x => x.id + '' === id);
      if (student !== 'undefined') {
        $('#studentId').val(id);
        $('#surname').val(student.surname);
        $('#name').val(student.name);
        $('#phoneNumber').val(student.phoneNumber);
      }
    }

    $(document).on('submit', '#form-edit-student', function (e) {
      e.preventDefault();
      var idInput = document.getElementById('studentId');
      var urlStudent = 'http://localhost:8080/api/student';
      let student = {surname: $('#surname').val(),
        name: $('#name').val(),
        phoneNumber: $('#phoneNumber').val()};
      var method = 'POST';
      if (idInput.value !== '') {
        method = 'PUT';
        urlStudent = urlStudent + '/' + idInput.value;
      }
      $.ajax({
        url: urlStudent,
        method: method,
        data: JSON.stringify(student),
        contentType: "application/json;"
      })
              .done(function() {
                location.reload();
              })
              .fail((err) => {
                alert(err);
              });
    });
  </script>
</th:block>
</html>